/*#FC98A4 pink
    #FDF2C5 - yellow
*/
*{
    margin: 0;
    padding: 0;
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

body{
    background-color: #FDF2C5;
}

header.return{
    position: absolute ;
    padding-left: 2rem;
    padding-top: 1rem;
    a{
        text-decoration: none;
        i{
            color: white;
            font-size: 3rem;
        }
    }
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 0;
    section.one{    
        background-color: #B1E1A3;
        height: 100vh;
        img.notebook{
            height: 100%;
            margin-left: -80px;
        }

        img.me{
            position: absolute;
            height: 60%;
            top: 16%;
            left: 9%;
            transform: rotate(-15deg);
        }

        h1{
            position: absolute;
            font-size: 1.9rem;
            top: 78%;
            left: 13.5%;
            transform: rotate(-15deg);
        }
    }
    
    section.two{
        background-color: #FC98A4;
        display: flex;
        justify-content: center;
        align-items: center;

        .text{
            position: relative;
            width: 600px;
            h2.top{
                margin-bottom: -10px;
            }

            h1{
                font-size: 120px;
                color: #B1E1A3;
            }
            p{
                font-size: 1.3rem;
            }
        }
    }
    
}

#codingSkills{
    grid-column: 2 / 4 ;
    grid-row: 2 / 3;
    padding-left: 30px;

    h1.skills{
        padding-top: 50px;
        padding-bottom: 10px;
        font-size: 3rem;
    }

    .label{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        display: flex;
        justify-content: space-around;
        align-items: flex-end;

        p{
            font-size: 2rem;
        }
    }

    h2{
        font-size: 2rem;
        color:#fbf8f8;
    }

    .prog{
        display: flex;
        justify-content: space-between;
        height: 100px;
        flex-direction: row;
        grid-column: 2 / span 3 ;
        grid-row: 3 / 4;

        .container {
            background-color: rgb(192, 192, 192);
            width: 20%;
            height: 10%;
            border-radius: 15px;
            border-color: transparent;

            .bar1 {
                background-color:#FDF2C5;
                text-align: center;
                font-size: 100px;
                border-radius: 15px;
                width: 55px;
            }
            .bar2 {
                background-color:#FDF2C5;
                text-align: center;
                font-size: 100px;
                border-radius: 15px;
                width: 54px;
            }

            .bar3 {
                background-color:#FDF2C5;
                text-align: center;
                font-size: 100px;
                border-radius: 15px;
                width: 59px;
            }

            .bar4 {
                background-color:#FDF2C5;
                text-align: center;
                font-size: 100px;
                border-radius: 15px;
                width: 25px;
            }
        }

}
}
@property --a {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: true;
  }

.others{
    overflow: hidden;

    h2{
        color:#B1E1A3;
        font-size: 2rem;
    }
    .other-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-top: 30px;
        padding-left: 10px;
    img {
        --w: 150px; /* image width*/
        --b: 10px; /* border thickness */
        --g: -10px; /* the gap */
        --c: #FDF2C5;
        
        width: var(--w);
        padding: calc(1.5*var(--w));
        margin: calc(var(--b) + var(--g) - 1.5*var(--w));
        border-radius: 50%;
        --_p:calc(var(--w)/2 + var(--g) + var(--b)) 
          at calc(50% + 25%*cos(var(--a))) calc(75% - 25%*sin(var(--a)));
        background: radial-gradient(var(--_p),
            #0000    calc(100% - var(--b) - 1px),
            var(--c) calc(100%  - var(--b)));
        transform-origin: 50% 75%;
        rotate: calc(var(--a) - 90deg);
        clip-path: circle(var(--_p));
        cursor: pointer;
        --a: 0deg;
        transition: --a .5s;
      }
      img.alt {
        --_p:calc(var(--w)/2 + var(--g) + var(--b)) 
          at calc(50% - 25%*cos(var(--a))) calc(75% - 25%*sin(var(--a)));
        rotate: calc(90deg - var(--a));
      }
      img:hover {
        --a: 90deg;
      }

      .mid{
        margin-top: -340px;
      }
    }

    .hobby-text{
        position: absolute;
        display: flex;
        justify-content: space-around;
        padding-left: 37px;
        width: 600px;
        flex-direction: row;
        top: 100%;

        p{
            font-size: 2rem;
        }
    }
    
}

