*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FC98A4;
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

header.return{
    position: absolute;
    padding-left: 2rem;
    padding-top: 2rem;
    a{
        text-decoration: none;
        i{
            color: white;
            font-size: 3rem;
        }
    }
}


section.container1{
    display: flex;
    flex-direction: row;
    background-image: url('../img/feutech.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    .years{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px black solid;
        background-color: rgb(252, 152, 164, .8);
        border-style: none solid none none;
        width:300px;
        height: 100vh;

        h1{
            writing-mode: vertical-lr;
            text-orientation: mixed;
            font-size: 90px;
            color: #FDF2C5;
        }
    }

    .content{
        padding-left: 50px;
        padding-top: 10px;
        .text{
            padding-top: 30%;
            color: #B1E1A3;
            h1{
                font-size: 10rem;
                text-shadow: 2px 3px 2px rgba(0, 0, 0, 1);
            }
            h2.degree{
                font-size: 3rem;
                text-shadow: 2px 3px 2px rgba(0, 0, 0, 1);
            }
            h2.degree2{
                font-size: 1.7rem;
                text-shadow: 2px 3px 2px rgba(0, 0, 0, 1);
            }
        }


    }
}

section.container2{
    display: flex;
    flex-direction: row;
    background-image: url('../img/feudiliman.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    .years{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px black solid;
        background-color: rgb(252, 152, 164, .8);
        border-style: none solid none none;
        width:300px;
        height: 99vh;

        h1{
            writing-mode: vertical-lr;
            text-orientation: mixed;
            font-size: 90px;
            color: #FDF2C5;
        }
    }

    .content{
        padding-left: 50px;
        padding-top: 10px;
        .text{
            padding-top: 30%;
            color: #B1E1A3;
            h1{
                font-size: 10rem;
                text-shadow: 2px 3px 2px rgba(0, 0, 0, 1);
            }
            h2.degree{
                font-size: 3rem;
                text-shadow: 2px 3px 2px rgba(0, 0, 0, 1);
            }
            h2.degree2{
                font-size: 1.7rem;
                text-shadow: 2px 3px 2px rgba(0, 0, 0, 1);
            }
        }

    }
}

section.container3{
    display: flex;
    flex-direction: row;
    background-image: url('../img/feudiliman2.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    .years{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px black solid;
        background-color: rgb(252, 152, 164, .8);
        border-style: none solid none none;
        width:300px;
        height: 99vh;

        h1{
            writing-mode: vertical-lr;
            text-orientation: mixed;
            font-size: 90px;
            color: #FDF2C5;
        }
    }

    .content{
        padding-left: 50px;
        padding-top: 10px;
        color: #B1E1A3;
        .text{
            padding-top: 20%;
            color: #B1E1A3;
            h1{
                font-size: 10rem;
                text-shadow: 2px 3px 2px rgba(0, 0, 0, 1);
            }
            h2.degree{
                font-size: 3rem;
                text-shadow: 2px 3px 2px rgba(0, 0, 0, 1);
            }
            h2.degree2{
                font-size: 1.9rem;
                text-shadow: 2px 3px 2px rgba(0, 0, 0, 1);
            }
        }

    }
}

section.container4{
    display: flex;
    flex-direction: row;
    background-image: url('../img/fiore.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    .years{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px black solid;
        background-color: rgb(252, 152, 164, .8);
        border-style: none solid none none;
        width:300px;
        height: 99vh;

        h1{
            writing-mode: vertical-lr;
            text-orientation: mixed;
            font-size: 90px;
            color: #FDF2C5;
        }
    }

    .content{
        padding-left: 50px;
        padding-top: 10px;
        .text{
            padding-top: 10%;
            color: #B1E1A3;
            h1{
                font-size: 10rem;
                text-shadow: 2px 3px 2px rgba(0, 0, 0, 1);
            }
            h2.degree{
                font-size: 3rem;
                text-shadow: 2px 3px 2px rgba(0, 0, 0, 1);
            }
            h2.degree2{
                font-size: 1.9rem;
                text-shadow: 2px 3px 2px rgba(0, 0, 0, 1);
            }
        }

    }
}

